<div id="present_user<%= present[0].split(":")[0] %>" class="border rounded-circle p-2 ml-1 text-white" style="background-color:#<%= JSON.parse(present[1])["colour"] %>;">
  <%= JSON.parse(present[1])["initials"] %>
</div>
